@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 160 10% 100%;
		--foreground: 160 10% 3.9%;
		--card: 160 10% 100%;
		--card-foreground: 160 10% 3.9%;
		--popover: 160 10% 100%;
		--popover-foreground: 160 10% 3.9%;
		--primary: 160 70% 30%;
		--primary-foreground: 160 10% 98%;
		--secondary: 160 20% 95.9%;
		--secondary-foreground: 160 70% 30%;
		--muted: 160 20% 95.9%;
		--muted-foreground: 160 10% 46.1%;
		--accent: 160 20% 95.9%;
		--accent-foreground: 160 70% 30%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 160 20% 90%;
		--input: 160 20% 90%;
		--ring: 160 70% 30%;
		--radius: 0.5rem;
		--chart-1: 139 65% 20%;
		--chart-2: 140 74% 44%;
		--chart-3: 142 88% 28%;
		--chart-4: 137 55% 15%;
		--chart-5: 141 40% 9%;
	}

	.dark {
		--background: 160 10% 3.9%;
		--foreground: 160 10% 98%;
		--card: 160 10% 3.9%;
		--card-foreground: 160 10% 98%;
		--popover: 160 10% 3.9%;
		--popover-foreground: 160 10% 98%;
		--primary: 160 70% 65%;
		--primary-foreground: 160 10% 3.9%;
		--secondary: 160 30% 15.9%;
		--secondary-foreground: 160 10% 98%;
		--muted: 160 30% 15.9%;
		--muted-foreground: 160 10% 64.9%;
		--accent: 160 30% 15.9%;
		--accent-foreground: 160 10% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 160 30% 15.9%;
		--input: 160 30% 15.9%;
		--ring: 160 70% 65%;
		--chart-1: 142 88% 28%;
		--chart-2: 139 65% 20%;
		--chart-3: 140 74% 24%;
		--chart-4: 137 55% 15%;
		--chart-5: 141 40% 9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
nextjs-portal {
	display: none;
  }
  